.pagination__container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.pagination__item {
  font-size: 100px;
  color: hsl(120, 70%, 50%);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.pagination__item:hover {
  color: hsl(120, 90%, 65%);
  transform: scale(1.1);
}
