.main-cont__rowplanets {
  width: 300px;
}

.rowPlanets__card {
  background-color: rgb(59, 59, 59);
  text-align: center;
  margin: 1rem;
}

.rowPlanets-card__img {
  padding: 2rem 1rem;
  height: 200px;
  position: relative;
}

.rowPlanets-card__info {
  padding: 1rem;
  background: lime;
  text-align: left;
  position: relative;
  height: 160px;
}

.rowPlanets-card__info p {
  margin-bottom: 10px;
}

.planets-card-info__go {
  width: 60px;
  height: 60px;
  border: lime 2px solid;
  top: -30px;
  background: #444;
  right: 30px;
  border-radius: 50%;
  color: white;

  padding: 1.2rem;
  box-shadow: 0px 5px 15px 5px #87f54e;
  position: absolute;
}

.card-info__lowBlock {
  height: 30px;
  width: 80%;
  background: #444;
  position: absolute;
  left: 27px;
  bottom: 0;
  text-align: center;
}

.card__rating {
  padding: 1rem;
  position: absolute;
  left: 8px;
  top: 8px;
  background: lime;
  border-radius: 50%;
}
