@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");

.contact__container {
  width: 100%;
  color: var(--sec-color);
  font-family: "IBM Plex Mono", monospace;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  font-weight: 400;
}

.contact__text {
  margin: 4rem auto;
  font-size: 1.4rem;
  max-width: 45rem;
}

.contact__info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem 0;
  gap: 20px;
}

.contact__info a {
  font-size: 2rem;
  padding: 1rem;
  color: var(--main-color);
  transition: all 100ms ease-in-out;
}
.contact__info a:hover {
  color: white;
  transform: translateY(-12px);
}
