.characters-card__container {
  width: 280px;
  height: 470px;
  border-radius: 5rem 1rem 5rem 1rem;
  box-shadow: 0 0 12px 1px var(--main-color-hover);
  transition: all 200ms ease-in-out;
}

.characters-card__container:hover {
  transform: scale(1.03);
}

.characters-card__img-and-fav {
  position: relative;
  height: 55%;
  background-color: #272727;
  border-radius: 5rem 1rem 0 0;
}

.characters-card__img-and-fav img {
  width: 280px;
  height: 100%;
  background-color: hsl(0, 0%, 20%);
  object-fit: cover;
  object-position: center;
  border-radius: 5rem 1rem 0 8rem;
}

.characters-card__img-and-fav span {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 0 #272727, 2px -2px 0 #272727, -2px 2px 0 #272727,
    -2px -2px 0 #272727, 2px 0px 0 #272727, 0px 2px 0 #272727,
    -2px 0px 0 #272727, 0px -2px 0 #272727;
}

.fav-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.8rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 15%);
  color: var(--sec-color);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.fav-icon:hover {
  color: var(--main-color-hover);
  transform: scale(1.05);
}
.fav-icon--in-favorites {
  color: var(--main-color-hover);
}

.go-to-details {
  position: relative;
  top: -60px;
  right: -5px;
  z-index: 10;
  font-size: 2.5rem;
  background-color: var(--main-color);
  color: #272727;
}
.go-to-details:hover {
  background-color: #5d5d5d;
  transform: translateX(0.5rem);
}

.characters-card__info {
  position: relative;
  height: 45%;
  padding: 1rem;
  background-color: #272727;
  border-radius: 0 0 5rem 1rem;
  text-transform: capitalize;
}

.character__name {
  display: block;
  height: 60px;
  margin: 0.5rem 0 0.2rem;
  overflow: hidden;
  font-size: 1.4rem;
  text-align: center;
  color: var(--sec-color);
}

.character__other-data {
  display: flex;
  flex-direction: column;
}

.character__other-data p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-color);
  text-decoration: underline;
}

.character__other-data span {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  color: var(--main-color-hover);
  margin: 0 0 1rem 1rem;
}
