.favorites__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorites__filter {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites-filter__btn {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: var(--main-color);
  color: #272727;
  border: none;
  border-radius: 1rem;
  transition: all 100ms ease-in-out;
  cursor: not-allowed;
}
.favorites-filter__btn:hover {
  background-color: var(--main-color-hover);
  transform: scale(1.03);
}

.favorites-filter__btn p {
  display: inline;
  padding: 0 1rem;
  text-transform: capitalize;
  font-family: "IBM-Plex-Mono", monospace;
}

.favorites__data--empty {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "IBM-Plex-Mono", monospace;
  font-weight: 500;
  text-align: center;
  color: var(--sec-color);
}

.favorites__data ul {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width: 1024px) {
  .favorites__data--empty {
    width: 80%;
    font-size: 2.5rem;
  }
}
