#root {
  background: url("./assets/background-animated.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  min-height: 80vh;
  padding: 8rem 1.25rem 2rem;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    min-height: 75vh;
  }
}
