#root {
  background: url("./assets/background-image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  min-height: 100vh;
}
