:root {
  --main-color: hsl(120, 70%, 50%);
  --main-color-hover: hsl(120, 90%, 65%);
  --sec-color: hsl(255, 100%, 100%);
}

@font-face {
  font-family: "IBM-Plex-Mono";
  src: local("IBM-Plex-Mono"),
    url("./assets/fonts/IBMPlexMono/IBMPlexMono-Regular.ttf"),
    format("truetype");
}

@font-face {
  font-family: "Schwifty";
  src: local("Schwifty"),
    url("./assets/fonts/Schwifty/get_schwifty-webfont.woff2") format("woff2"),
    local("Schwifty"),
    url("./assets/fonts/Schwifty/get_schwifty-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "IBM-Plex-Mono", monospace;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
